$header-bg: #161b22;
$white1: #f0f6fc;
.main-header {
  height: 10vh;
  width: 100%;
  background-color: $header-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  header {
    padding: 0 5rem;
    .logo {
      text-decoration: none;
      font-size: x-large;
      font-weight: bold;
      color: $white1;
      .logo-txt {
        color: crimson;
      }
    }
    .burger {
      display: none;
      color: $white1;
      font-size: x-large;
    }
  }
  nav {
    padding: 0 5rem 0 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      a {
        text-decoration: none;
        padding: 0.5rem 0;
        color: $white1;
        transition: 0.2s;
        &:hover {
          color: #f0f6fc85;
        }
        li {
          margin: 0 1rem;
        }
      }
    }
  }
}
.open{
  display: none;
}
@media screen and (max-width: 949px) {
  .main-header {
    min-width:100%;
    padding: 0;
    position:fixed;
    z-index: 11;
    top: 0;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
      .burger {
        display: block;
      }
    }
    nav {
      padding: 0;
    position:fixed;
    display: none;
    left: 0;
    top: 10vh;
    z-index: 10;
    width: 100vw;
    height: 90vh;
    background-color: black;
    // transform: translateX(100%);
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    ul{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    }
  }
}

